<header class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Ebay</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Amazon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Shopify</a>
      </li>
    </ul>
  </div>

  <a class = "main_page_logo" href="https://www.ebay.com" target="_blank">
    <img src="../../../assets/img/ebay_logo.png"/></a>
</header>
