<header class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLink = "ebay-profit" class="nav-link" routerLinkActive="active">Ebay</a>
      </li>
      <li class="nav-item">
        <a routerLink = "amazon-profit" class="nav-link" routerLinkActive="active">Amazon</a>
      </li>
      <li class="nav-item">
        <a routerLink = "shopify-profit" class="nav-link" routerLinkActive="active">Shopify</a>
      </li>
    </ul>
  </div>
</header>

<router-outlet></router-outlet>
